html {
    height: 100%;
}

body {
    display: flex;
    margin: 0px;
    width: 100%;
    height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    font-weight: 700;
    color: white;
}

#canvas {
    flex: 0;
    justify-self: center;
    background-color: deepskyblue;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    margin: 1px 1px 1px 101px;
}

#canvas:hover {
    cursor: crosshair;
}

#canvas div .pixel {
    color: rgb(20, 75, 4);
    border: 1px solid #000;
    margin-top: -1px;
    margin-left: -1px;
    flex: auto;
    box-sizing: border-box;
}

#menu {
    height: 100%;
    width: 100px;
    flex: 0;
    background-color: deepskyblue;
    position: fixed;
    margin-right: -1px;
    border-right: 1px solid #ffffff;
}

#menu>* {
    border-bottom: 1px solid #ffffff;
    box-sizing: border-box;
}

.menuBtn {
    padding: 8px;
    text-align: center;
}

.menuBtn:hover {
    color: deepskyblue;
    background-color: white;
}

#resize {
    display: flex;
}

#resize .column {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#resize .column>* {
    box-sizing: border-box;
    padding: 8px 8px 0px 8px;
}

#resolution {
    margin-bottom: 8px;
}

#resize input {
    width: 30px;
}

#resizeBtn {
    writing-mode: vertical-lr;
    border-left: 1px dotted #ffffff;
    background-size: 200% auto;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

}